.main{
    height: 70px;
    width: auto;
    background-color: #38874C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.logo{
    color: white;
    margin-left: 10px;
    font-weight: bold;
}

.links{
    margin-right: 50px;
    
}

.linkLi{
    font-size: 15px;
    font-weight: 400;
    margin-right: 50px;
    padding-bottom: 5px;
}

.selectedLink {
    border-bottom: 2px solid #F6D941; /* You can adjust this style */
    font-weight: 600;
    background-color: #F6D941;
    color: #38874C;
}
.selectedLink:hover{
    color: #38874C;
}
